### 1. Import excel files containing raw mutual fund data

In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_excel('../Data/US_mutual_fund_data.xlsx')
df2 = pd.read_excel('../Data/US_mutual_fund_data2.xlsx')

In [3]:
df1.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,morningstar_risk,Unnamed: 6,avg_moat_rating,Unnamed: 8,morningstar_sustainability_rating,...,Unnamed: 14,pct_cash,Unnamed: 16,price_to_earnings,Unnamed: 18,price_to_cash_flow,Unnamed: 20,avg_market_cap,Unnamed: 22,roe_last_year
0,NaN,1290 GAMCO Small/Mid Cap Value,NaN,Above Average,NaN,--,NaN,2,NaN,5.33,...,NaN,15.07,NaN,6.87,NaN,2471,NaN,0.5,NaN,NaN
1,NaN,NaN,NaN,1290 GAMCO Small/Mid Cap Value,NaN,Above Average,NaN,--,NaN,2,...,NaN,2.81,NaN,15.07,NaN,6.87,NaN,2471,NaN,0.5
2,NaN,NaN,NaN,1290 GAMCO Small/Mid Cap Value,NaN,Above Average,NaN,--,NaN,2,...,NaN,2.81,NaN,15.07,NaN,6.87,NaN,2471,NaN,0.5
3,NaN,NaN,NaN,1290 GAMCO Small/Mid Cap Value,NaN,Above Average,NaN,--,NaN,2,...,NaN,2.81,NaN,15.07,NaN,6.87,NaN,2471,NaN,0.5
4,NaN,NaN,NaN,13D Activist A,NaN,Above Average,NaN,--,NaN,2,...,NaN,5.84,NaN,20.15,NaN,8.58,NaN,3633,NaN,1.78

### 2. Align the columns and drop empty rows

In [4]:
df1.drop('Unnamed: 0', axis=1, inplace=True)

In [5]:
df1.drop(df1[df1.isnull().all(1)].index, inplace=True)

In [6]:
df1

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,morningstar_risk,Unnamed: 6,avg_moat_rating,Unnamed: 8,morningstar_sustainability_rating,Unnamed: 10,...,Unnamed: 14,pct_cash,Unnamed: 16,price_to_earnings,Unnamed: 18,price_to_cash_flow,Unnamed: 20,avg_market_cap,Unnamed: 22,roe_last_year
0,1290 GAMCO Small/Mid Cap Value,NaN,Above Average,NaN,--,NaN,2,NaN,5.33,NaN,...,NaN,15.07,NaN,6.87,NaN,2471,NaN,0.5,NaN,NaN
1,NaN,NaN,1290 GAMCO Small/Mid Cap Value,NaN,Above Average,NaN,--,NaN,2,NaN,...,NaN,2.81,NaN,15.07,NaN,6.87,NaN,2471,NaN,0.5
2,NaN,NaN,1290 GAMCO Small/Mid Cap Value,NaN,Above Average,NaN,--,NaN,2,NaN,...,NaN,2.81,NaN,15.07,NaN,6.87,NaN,2471,NaN,0.5
3,NaN,NaN,1290 GAMCO Small/Mid Cap Value,NaN,Above Average,NaN,--,NaN,2,NaN,...,NaN,2.81,NaN,15.07,NaN,6.87,NaN,2471,NaN,0.5
4,NaN,NaN,13D Activist A,NaN,Above Average,NaN,--,NaN,2,NaN,...,NaN,5.84,NaN,20.15,NaN,8.58,NaN,3633,NaN,1.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6644,NaN,NaN,Zevenbergen Genea Institutiona,NaN,High,NaN,2.77,NaN,1,NaN,...,NaN,1.27,NaN,137.11,NaN,38.6,NaN,62304,NaN,3.79
6645,NaN,NaN,Zevenbergen Genea Investor,NaN,High,NaN,2.77,NaN,1,NaN,...,NaN,1.27,NaN,137.11,NaN,38.6,NaN,62304,NaN,3.79
6646,NaN,NaN,Zevenbergen Growth Institution,NaN,High,NaN,3.028,NaN,1,NaN,...,NaN,2.85,NaN,92.74,NaN,37.59,NaN,67296,NaN,3.94
6647,NaN,NaN,Zevenbergen Growth Investor,NaN,High,NaN,3.028,NaN,1,NaN,...,NaN,2.85,NaN,92.74,NaN,37.59,NaN,67296,NaN,3.94
6648,NaN,NaN,Ziegler Piermont Small Cap Val,NaN,--,NaN,--,NaN,3,NaN,...,NaN,0.34,NaN,12.61,NaN,5.79,NaN,1661,NaN,6.16

In [7]:
df2.drop('Unnamed: 0', axis=1, inplace=True)

In [8]:
df2.drop(df2[df2.isnull().all(1)].index, inplace=True)

In [9]:
df2

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,debt_to_capital_last_year,Unnamed: 6,no_of_holdings_in_portfolio,Unnamed: 8,pct_assets_in_top10_holdings,Unnamed: 10,...,Unnamed: 14,expense_ratio,Unnamed: 16,no_load_funds,Unnamed: 18,min_initial_purchase,Unnamed: 20,total_assets,Unnamed: 22,closed_to_new_investors
0,1290 GAMCO Small/Mid Cap Value,NaN,46.75,NaN,145,NaN,24.27,NaN,19,NaN,...,NaN,No,NaN,1000,NaN,136.0,NaN,No,NaN,NaN
1,NaN,NaN,1290 GAMCO Small/Mid Cap Value,NaN,46.75,NaN,145,NaN,24.27,NaN,...,NaN,1,NaN,Yes,NaN,1000000.0,NaN,136,NaN,No
2,NaN,NaN,1290 GAMCO Small/Mid Cap Value,NaN,46.75,NaN,145,NaN,24.27,NaN,...,NaN,1.5,NaN,No,NaN,0.0,NaN,136,NaN,No
3,NaN,NaN,1290 GAMCO Small/Mid Cap Value,NaN,46.75,NaN,145,NaN,24.27,NaN,...,NaN,1,NaN,No,NaN,1000.0,NaN,136,NaN,No
4,NaN,NaN,13D Activist A,NaN,53.74,NaN,33,NaN,43.16,NaN,...,NaN,1.75,NaN,No,NaN,2500.0,NaN,239,NaN,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6554,NaN,NaN,Zevenbergen Genea Institutiona,NaN,38.04,NaN,32,NaN,56.64,NaN,...,NaN,1.1,NaN,Yes,NaN,50000.0,NaN,208,NaN,No
6555,NaN,NaN,Zevenbergen Genea Investor,NaN,38.04,NaN,32,NaN,56.64,NaN,...,NaN,1.4,NaN,Yes,NaN,2500.0,NaN,208,NaN,No
6556,NaN,NaN,Zevenbergen Growth Institution,NaN,39.47,NaN,36,NaN,50.07,NaN,...,NaN,1,NaN,Yes,NaN,50000.0,NaN,129,NaN,No
6557,NaN,NaN,Zevenbergen Growth Investor,NaN,39.47,NaN,36,NaN,50.07,NaN,...,NaN,1.3,NaN,Yes,NaN,2500.0,NaN,129,NaN,No
6558,NaN,NaN,Ziegler Piermont Small Cap Val,NaN,39.12,NaN,114,NaN,13.11,NaN,...,NaN,0.9,NaN,Yes,NaN,100000.0,NaN,4,NaN,No

In [10]:
df1[df1['Unnamed: 1'].notnull()] = df1[df1['Unnamed: 1'].notnull()].shift(1, axis=1)

In [11]:
df1.drop(['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 4', 'Unnamed: 6', 'Unnamed: 8', 'Unnamed: 10', 
          'Unnamed: 12', 'Unnamed: 14', 'Unnamed: 16', 'Unnamed: 18', 'Unnamed: 20', 'Unnamed: 22'], axis=1, inplace=True)

In [12]:
df1.rename(columns={'Unnamed: 3':'fund_name'}, inplace=True)

In [13]:
df1

,fund_name,morningstar_risk,avg_moat_rating,morningstar_sustainability_rating,three_year_return,three_year_mean_div_yield,pct_cash,price_to_earnings,price_to_cash_flow,avg_market_cap,roe_last_year
0,1290 GAMCO Small/Mid Cap Value,Above Average,--,2,5.33,0.65,2.81,15.07,6.87,2471,0.5
1,1290 GAMCO Small/Mid Cap Value,Above Average,--,2,5.58,0.67,2.81,15.07,6.87,2471,0.5
2,1290 GAMCO Small/Mid Cap Value,Above Average,--,2,5.06,0.63,2.81,15.07,6.87,2471,0.5
3,1290 GAMCO Small/Mid Cap Value,Above Average,--,2,5.58,0.67,2.81,15.07,6.87,2471,0.5
4,13D Activist A,Above Average,--,2,8.82,1,5.84,20.15,8.58,3633,1.78
...,...,...,...,...,...,...,...,...,...,...,...
6644,Zevenbergen Genea Institutiona,High,2.77,1,46.95,3.99,1.27,137.11,38.6,62304,3.79
6645,Zevenbergen Genea Investor,High,2.77,1,46.63,3.97,1.27,137.11,38.6,62304,3.79
6646,Zevenbergen Growth Institution,High,3.028,1,45.84,3.7,2.85,92.74,37.59,67296,3.94
6647,Zevenbergen Growth Investor,High,3.028,1,45.47,3.68,2.85,92.74,37.59,67296,3.94
6648,Ziegler Piermont Small Cap Val,--,--,3,--,--,0.34,12.61,5.79,1661,6.16

In [14]:
df2[df2['Unnamed: 1'].notnull()] = df2[df2['Unnamed: 1'].notnull()].shift(1, axis=1)

In [15]:
df2.drop(['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 4', 'Unnamed: 6', 'Unnamed: 8', 'Unnamed: 10', 
          'Unnamed: 12', 'Unnamed: 14', 'Unnamed: 16', 'Unnamed: 18', 'Unnamed: 20', 'Unnamed: 22'], axis=1, inplace=True)

In [16]:
df2.rename(columns={'Unnamed: 3':'fund_name'}, inplace=True)

In [17]:
df1.reset_index(inplace=True, drop=True)

In [18]:
df2.reset_index(inplace=True, drop=True)

In [19]:
df1

,fund_name,morningstar_risk,avg_moat_rating,morningstar_sustainability_rating,three_year_return,three_year_mean_div_yield,pct_cash,price_to_earnings,price_to_cash_flow,avg_market_cap,roe_last_year
0,1290 GAMCO Small/Mid Cap Value,Above Average,--,2,5.33,0.65,2.81,15.07,6.87,2471,0.5
1,1290 GAMCO Small/Mid Cap Value,Above Average,--,2,5.58,0.67,2.81,15.07,6.87,2471,0.5
2,1290 GAMCO Small/Mid Cap Value,Above Average,--,2,5.06,0.63,2.81,15.07,6.87,2471,0.5
3,1290 GAMCO Small/Mid Cap Value,Above Average,--,2,5.58,0.67,2.81,15.07,6.87,2471,0.5
4,13D Activist A,Above Average,--,2,8.82,1,5.84,20.15,8.58,3633,1.78
...,...,...,...,...,...,...,...,...,...,...,...
6516,Zevenbergen Genea Institutiona,High,2.77,1,46.95,3.99,1.27,137.11,38.6,62304,3.79
6517,Zevenbergen Genea Investor,High,2.77,1,46.63,3.97,1.27,137.11,38.6,62304,3.79
6518,Zevenbergen Growth Institution,High,3.028,1,45.84,3.7,2.85,92.74,37.59,67296,3.94
6519,Zevenbergen Growth Investor,High,3.028,1,45.47,3.68,2.85,92.74,37.59,67296,3.94
6520,Ziegler Piermont Small Cap Val,--,--,3,--,--,0.34,12.61,5.79,1661,6.16

In [20]:
df2

,fund_name,debt_to_capital_last_year,no_of_holdings_in_portfolio,pct_assets_in_top10_holdings,turnover,avg_manager_tenure,expense_ratio,no_load_funds,min_initial_purchase,total_assets,closed_to_new_investors
0,1290 GAMCO Small/Mid Cap Value,46.75,145,24.27,19,6,1.25,No,NaN,1000,No
1,1290 GAMCO Small/Mid Cap Value,46.75,145,24.27,19,6,1,Yes,1000000.0,136,No
2,1290 GAMCO Small/Mid Cap Value,46.75,145,24.27,19,6,1.5,No,0.0,136,No
3,1290 GAMCO Small/Mid Cap Value,46.75,145,24.27,19,6,1,No,1000.0,136,No
4,13D Activist A,53.74,33,43.16,119,9,1.75,No,2500.0,239,No
...,...,...,...,...,...,...,...,...,...,...,...
6516,Zevenbergen Genea Institutiona,38.04,32,56.64,62,5,1.1,Yes,50000.0,208,No
6517,Zevenbergen Genea Investor,38.04,32,56.64,62,5,1.4,Yes,2500.0,208,No
6518,Zevenbergen Growth Institution,39.47,36,50.07,39,5,1,Yes,50000.0,129,No
6519,Zevenbergen Growth Investor,39.47,36,50.07,39,5,1.3,Yes,2500.0,129,No
6520,Ziegler Piermont Small Cap Val,39.12,114,13.11,20,0,0.9,Yes,100000.0,4,No

### 3. Add Mutual Fund Tickers

In [21]:
df3 = pd.read_excel('../Data/mutual_fund_tickers.xlsx')

In [22]:
df4 = pd.concat([df3,df1],axis=1)

In [23]:
df4.drop('fund_name',axis=1,inplace=True)

In [24]:
df4

,ticker,morningstar_risk,avg_moat_rating,morningstar_sustainability_rating,three_year_return,three_year_mean_div_yield,pct_cash,price_to_earnings,price_to_cash_flow,avg_market_cap,roe_last_year
0,TNVAX,Above Average,--,2,5.33,0.65,2.81,15.07,6.87,2471,0.5
1,TNVIX,Above Average,--,2,5.58,0.67,2.81,15.07,6.87,2471,0.5
2,TNVRX,Above Average,--,2,5.06,0.63,2.81,15.07,6.87,2471,0.5
3,TNVCX,Above Average,--,2,5.58,0.67,2.81,15.07,6.87,2471,0.5
4,DDDAX,Above Average,--,2,8.82,1,5.84,20.15,8.58,3633,1.78
...,...,...,...,...,...,...,...,...,...,...,...
6516,ZVGIX,High,2.77,1,46.95,3.99,1.27,137.11,38.6,62304,3.79
6517,ZVGNX,High,2.77,1,46.63,3.97,1.27,137.11,38.6,62304,3.79
6518,ZVNIX,High,3.028,1,45.84,3.7,2.85,92.74,37.59,67296,3.94
6519,ZVNBX,High,3.028,1,45.47,3.68,2.85,92.74,37.59,67296,3.94
6520,ZPSVX,--,--,3,--,--,0.34,12.61,5.79,1661,6.16

In [25]:
df5 = pd.concat([df3,df2],axis=1)

In [26]:
df5.drop('fund_name',axis=1,inplace=True)

In [27]:
df5

,ticker,debt_to_capital_last_year,no_of_holdings_in_portfolio,pct_assets_in_top10_holdings,turnover,avg_manager_tenure,expense_ratio,no_load_funds,min_initial_purchase,total_assets,closed_to_new_investors
0,TNVAX,46.75,145,24.27,19,6,1.25,No,NaN,1000,No
1,TNVIX,46.75,145,24.27,19,6,1,Yes,1000000.0,136,No
2,TNVRX,46.75,145,24.27,19,6,1.5,No,0.0,136,No
3,TNVCX,46.75,145,24.27,19,6,1,No,1000.0,136,No
4,DDDAX,53.74,33,43.16,119,9,1.75,No,2500.0,239,No
...,...,...,...,...,...,...,...,...,...,...,...
6516,ZVGIX,38.04,32,56.64,62,5,1.1,Yes,50000.0,208,No
6517,ZVGNX,38.04,32,56.64,62,5,1.4,Yes,2500.0,208,No
6518,ZVNIX,39.47,36,50.07,39,5,1,Yes,50000.0,129,No
6519,ZVNBX,39.47,36,50.07,39,5,1.3,Yes,2500.0,129,No
6520,ZPSVX,39.12,114,13.11,20,0,0.9,Yes,100000.0,4,No

### 4. Export the dataframes as CSV files

In [28]:
df4.to_csv('../Data/US_mutual_fund_data_left.csv', index=False)
df5.to_csv('../Data/US_mutual_fund_data_right.csv', index=False)