In [1]:
from sqlalchemy import create_engine
import psycopg2 as pg
import pandas.io.sql as pd_sql
import pandas as pd

In [2]:
engine = create_engine('postgresql://mike:localhost@localhost:5432/mutual_fund_data')

mutual_fund_data_left = pd.read_csv('../Data/US_mutual_fund_data_left.csv')
mutual_fund_data_right = pd.read_csv('../Data/US_mutual_fund_data_right.csv')

mutual_fund_data_left.to_sql('mutual_fund_data_1', engine, index=False, if_exists='replace')
mutual_fund_data_right.to_sql('mutual_fund_data_2', engine, index=False, if_exists='replace')

In [3]:
query = 'SELECT * FROM mutual_fund_data_1;'
df1 = pd_sql.read_sql(query, engine)

In [4]:
query = 'SELECT * FROM mutual_fund_data_2;'
df2 = pd_sql.read_sql(query, engine)

In [5]:
query = """
    SELECT 
        mutual_fund_data_1.*,
        mutual_fund_data_2.debt_to_capital_last_year,
        mutual_fund_data_2.no_of_holdings_in_portfolio,
        mutual_fund_data_2.pct_assets_in_top10_holdings,
        mutual_fund_data_2.turnover,
        mutual_fund_data_2.avg_manager_tenure,
        mutual_fund_data_2.expense_ratio,
        mutual_fund_data_2.no_load_funds,
        mutual_fund_data_2.min_initial_purchase,
        mutual_fund_data_2.total_assets,
        mutual_fund_data_2.closed_to_new_investors,
        CAST(34.2 AS FLOAT) AS sp500_three_year_return
    FROM mutual_fund_data_1
        LEFT JOIN mutual_fund_data_2
            ON mutual_fund_data_1.ticker = mutual_fund_data_2.ticker;
"""

df_mf = pd_sql.read_sql(query, engine)

In [6]:
df_mf

,ticker,morningstar_risk,avg_moat_rating,morningstar_sustainability_rating,three_year_return,three_year_mean_div_yield,pct_cash,price_to_earnings,price_to_cash_flow,avg_market_cap,...,no_of_holdings_in_portfolio,pct_assets_in_top10_holdings,turnover,avg_manager_tenure,expense_ratio,no_load_funds,min_initial_purchase,total_assets,closed_to_new_investors,sp500_three_year_return
0,AAAGX,Above Average,4.283,3,20.73,1.97,1.69,32.14,24.23,294701,...,45,55.73,58,2,1.14,No,2000.0,1768,No,34.2
1,AACIX,High,--,2,0.22,0.48,3.79,12.96,6.84,8740,...,124,18.37,35,6,0.95,Yes,250000.0,195,No,34.2
2,AADEX,Above Average,3.459,2,3.75,0.67,1.72,15.04,10.34,57742,...,168,21.82,67,12,0.63,Yes,250000.0,4242,No,34.2
3,AADGX,Below Average,3.347,3,6.39,0.66,2.62,21.85,16.11,14323,...,51,24.66,47,5,1.08,Yes,2500.0,70,No,34.2
4,AAGOX,Above Average,3.748,2,27.82,2.38,0.22,42.08,26.35,152652,...,59,47.3,144,19,0.89,Yes,0.0,446,No,34.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6516,ZSCIX,Average,--,2,2.08,0.42,0.00,15.26,10.7,1408,...,103,19.62,114,10,1.14,Yes,5000.0,49,No,34.2
6517,ZVGIX,High,2.77,1,46.95,3.99,1.27,137.11,38.6,62304,...,32,56.64,62,5,1.1,Yes,50000.0,208,No,34.2
6518,ZVGNX,High,2.77,1,46.63,3.97,1.27,137.11,38.6,62304,...,32,56.64,62,5,1.4,Yes,2500.0,208,No,34.2
6519,ZVNBX,High,3.028,1,45.47,3.68,2.85,92.74,37.59,67296,...,36,50.07,39,5,1.3,Yes,2500.0,129,No,34.2
6520,ZVNIX,High,3.028,1,45.84,3.7,2.85,92.74,37.59,67296,...,36,50.07,39,5,1,Yes,50000.0,129,No,34.2

In [7]:
query = """
    SELECT 
        morningstar_risk,
        count(*) AS num_funds
    FROM mutual_fund_data_1
    WHERE three_year_return >= '10'
    GROUP BY morningstar_risk
    HAVING count(*)>1000;
"""

df_above_10 = pd_sql.read_sql(query, engine)

In [8]:
df_above_10

  morningstar_risk  num_funds
0    Above Average       1238
1    Below Average       1214
2          Average       2073

In [9]:
df_mf.to_csv('../Data/df_all_mutual_fund_data', index=False)